/* Global styles */
@font-face{
  font-family:'Freescpt'; 
  src: require('../../assets/fonts/FREESCPT.TTF') format('truetype')
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:global(#app) {
  background-color: #FAFAFA;
  min-height: 100%;
  min-width: 100%;
}

.wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}

.logoWrapper {
  padding: 2em 0;
}

.logo {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  height: 100vh;
  left: 0;
}

.site_row {
  height: 100%;
  display: inline-block;
}

.logo.non_first_row {
  position: relative;
}

a {
  padding: 10px;
  color: #fff !important;
  font-size: 3rem;
  border: 1px solid white;
  margin: 10px;
  width: 3vw;
  font-family: 'Freescpt';
  font-style: normal;
  font-weight:400;
  font-size: 45pt;
}

.nav {
  position: absolute;
  z-index: 100;
  right: 100px;
  top: 50px;
}

.header {
  position: absolute;
  z-index: 100;
  left: 10%;
  top: 50vh;
  border: 1px solid #fff;
  color: #fff;
}

.header h1 {
  font-size: 100pt;
}

.background {
  opacity: 0; 
  transition: opacity 1.0s;
}

.background_loaded { 
  opacity: 1; 
}

.tree_one {
  opacity: 0; 
  transition: opacity 1.0s; 
}

.tree_one_loaded { 
  opacity: 1; 
}

.image { 
  opacity: 0; 
  transition: opacity 1.0s; 
}

.image-loaded { 
  opacity: 1; 
}

