/* Global styles */

@keyframes fadein {
  0% { opacity: 0}
  50% { opacity: 0}
  80% { opacity: 0}
  100% { opacity: 1}
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
}

body.fontLoaded {
  // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
}

:global(#app) {
  background-color: #05271B;
  min-height: 100%;
  min-width: 100%;
}

.wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}

.logoWrapper {
  padding: 2em 0;
}

.logo {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  height: 100vh;
  left: 0;
}

.site_row {
  height: 100%;
  display: inline-block;
}

.logo.non_first_row {
  position: relative;
}

a {
  padding: 10px;
  color: #fff !important;
  font-size: 3rem;
  border: 1px solid white;
  margin: 10px;
  width: 3vw;
  font-style: normal;
  font-weight:400;
  font-size: 45pt;
  animation: fadein 4.5s;
  font-family: 'Shadows Into Light', sans-serif;
}

.nav {
  position: absolute;
  z-index: 100;
  right: 100px;
  top: 50px;
}

.header {
  position: absolute;
  z-index: 100;
  // width: 100%;
  left: 25%;
  // margin-right: -100pt;
  top: 43vh;
  color: #fff;
  animation: fadein 4.5s;
}

.header h1 {
  border: 1px solid #fff;
  font-size: 80pt;
  text-transform: uppercase;
  font-family: 'Shadows Into Light', sans-serif;
}

@media screen and (max-width: 1300px) {
  .header {
    left: 17%;
    font-size: 60pt;
  }
}

@media screen and (max-width: 650px) {
  .header {
    font-size: 30pt;
  }

  a {
    margin: 5px;
    font-size: 20pt
  }
}
